.App { 
    background-color: #40396e;
}
.Border {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    background-color: lightblue;
    border-radius: 5em;
    border-width: 5px;
    width: 300px;
    padding: 20px;
    height: 30rem;
  }
.right-sidebar {
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }